/* GENERAL APP SETTINGS */
@import "../../../index.css";

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner span {
  margin-top: 100px;
  width: 100px;
  height: 100px;
}
.graph {
  position: relative;

  /* margin: 20px; */
  width: 600px;
  max-width: 100%;
  min-height: 400px;
  height: fit-content;
  /* background-color: rgba(255, 255, 255, 0.26); */
  /* box-shadow: 1px 1px 7px rgba(168, 168, 168, 0.438); */
  border-radius: 4px;
  /* padding: 10px; */
}
.map-title {
  text-align: justify;
}

.map-container {
  height: 420px;
  width: 95%;
  position: relative;
  margin: auto;
}

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.header-graph {
  margin: 20px 20px;
}
.legend-title {
  margin: 0px;
}
.legend-container {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.legendgroup {
  margin: 10px;
  display: flex;
  display: row;
}
.legend-rect {
  width: 30px;
  height: 20px;
  opacity: 0.8;
  margin-right: 10px;
}

.legend-text {
  color: black;
  margin-right: 30px;
}
.legend-text:hover {
  cursor: pointer;
}

.auteur:hover {
  cursor: pointer;
  color: #0aaacb;
}
.backModal {
  z-index: 100000;
  position: fixed;
  padding: 15px;
  top: 0;
  left: 0;
  background-color: rgba(168, 168, 168, 0.466);
  /* box-shadow: 1px 1px 7px rgba(168, 168, 168, 0.438); */
  /* border-radius: 4px; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* display: grid;
  grid-template-columns: 97% auto;
  min-width: 300px;
  max-width: 400px; */
}

.popup {
  display: grid;
  grid-template-columns: 95% auto;
  max-width: 700px;
  background-color: var(--main-bg-color);
  box-shadow: 1px 1px 7px rgba(168, 168, 168, 0.438);
  border-radius: 4px;
  padding: 20px;
}

.link-icon {
  color: white;
}
.link-icon:hover {
  transform: rotate(50deg);
}
.info {
  margin-left: 5px;
}
.info:hover {
  color: #0aaacb;
}
.nom-base {
  color: rgb(0, 0, 0);
  margin: 0px 15px 0px 4px;
  text-align: justify;
}

.nom-base > h1 {
  text-align: left;
  color: #0aaacb;
}

.nom-base > h2 {
  margin-top: 40px;
  font-size: 1.2em;
}

.nom-base a {
  color: rgba(27, 27, 27, 0.897);
  font-weight: bolder;
  text-decoration: none;
}
.nom-base a:hover {
  color: var(--main-tv-color);
  text-decoration: none;
}
.nom-base p {
  line-height: 1.3em;
}
.nom-base br {
  margin-bottom: 20px;
}

.nom-base li {
  margin-bottom: 10px;
  list-style-type: circle;
}

.croix {
  position: relative;
  margin: 20px 50%;
  /* margin-right: 5px; */
}
.croix:hover {
  cursor: pointer;
  color: var(--main-tv-color);
}
/* .zone-elements-modules {
  margin: 40px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 50px;
} */

.titre-module {
  margin: 10px 0px;
  font-size: 2em;
  color: #0aaacb;
}
.auteur-module {
  margin: 0px;
}

.description {
  text-align: justify;
  margin: 0px;
}
