.variables-container{
    width: 900px;
    margin: 0px auto;
    max-width: 90%;
    border-radius: 7px;
    box-shadow: 3px 3px 7px rgba(168, 168, 168, 0.801);
    padding: 0px 10px;
}
.selected-top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:0px;
}
.arrow{
    color: rgb(150, 148, 148);

}
.lines{
    margin: auto 10px;
}
.arrow:hover{
    cursor: pointer;
    color: rgb(223, 223, 223);
}

.clickable{
    cursor: pointer;
}


.closed{
    transform: rotate(0.5turn);

}

.top-picker{
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 10px 0px 5px 10px;
}

.top-legend{
 margin: 0px 5px;   
}

.selection-picker{
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    height: 300px;

}

.document-picker{
    display: flex;
    flex-direction: column;
    flex-basis: 250px;
}
.document-picker .list{
    overflow-y:scroll;
}
.document-picker hr{
    background-color: rgb(150, 148, 148);
    height: 0.01px;
    color: transparent;
}
.document-picker h5{
    font-size: 0.9em;
    text-transform:capitalize;
    margin-bottom: 0px;
    margin-top: 7px;
}
.variable-picker{
    font-size: 0.8em;
    cursor: pointer;
    border-radius: 7px;
    padding: 7px;
    color: rgb(0, 0, 0);
    border: #0AAACB 1px solid;
    white-space:normal;
    margin: 10px 3px;
    width:fit-content;
}

.attop{
    white-space: nowrap;
}