/* PARAMETRES SPECIFIQUES AUX TABLEAUX */
@import "../index.css";

.tableau-container {
  padding: 20px 30px;
}

.croix {
  margin-left: 30px;
}
.croix:hover {
  size: 2em;
  color: black;
}

.spacing-large {
  width: 1000px;
  max-width: 100%;
}

.spacing-small {
  width: 300px;
  max-width: 100%;
}
