/* .module-bouton {
  margin: 5px;
  height: fit-content;
  width: fit-content;
  padding: 18px 13px;
  line-height: 10px;
  text-align: center;
  box-shadow: 3px 3px 7px rgba(168, 168, 168, 0.801);
  border-radius: 7px;
  display: flex;
  flex-direction: row;
  background-color: white;
} */

.norm-bouton {
  width: fit-content;
}
/* .module-bouton:hover {
  cursor: pointer;
  color: white;
  background-color: #0aaacb;
} */
.icon-module {
  font-size: 1.3em;
}
/* .legend-module-bouton {
  padding: 11px 13px;
  margin-left: 8px;
} */

.module-select-container {
  transition: width ease 0.5s;
  position: relative;

  /* width: inherit; */
  min-width: 35%;
  min-height: 400px;
  height: fit-content;
  min-height: 500px;
  border-radius: 7px;
  margin: 5px;
  /* padding: 18px 13px; */
  /* box-shadow: 3px 3px 7px rgba(168, 168, 168, 0.801); */
}
/* .selection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */

/* .titre {
  font-weight: bolder;
} */

/* .auteurs {
  font-style: italic;
  font-size: 0.9em;
} */
/* 
.description {
  font-size: 0.9em;
} */

.vl {
  border-left: 0.5px solid rgb(199, 199, 199);
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.module-description {
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 7px;
  background-color: var(--main-tv-color);
  color: white;
  padding: 15px 25px;
  min-width: 400px;
  max-width: 400px;
}

.description {
  line-height: 1.5em;
  text-align: justify;
}

.select-module {
  margin: 30px 10px 10px 10px;
  text-align: center;
  padding: 8px 10px;
  font-size: 0.9em;
  border-radius: 7px;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color ease 0.5s, color ease 0.2s;
}
.selected {
  color: white;
  background-color: #0aaacb;
}
/* .select-module:hover {
  background-color: white;
  color: #0aaacb; */
/* } */

/* .theme {
  min-width: 250px;
}

.modules {
  min-width: 250px;
} */
