.module-localisation{
    /* margin: 70px ; */
    width:700px;
    max-width: 95%;
    margin: 5px;
    box-shadow: 3px 3px 7px rgba(168, 168, 168, 0.801);
    border-radius: 7px;
    
}

.search-form{
    text-align: left;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.barre{
overflow-x: auto;
display: grid;
grid-template-columns: 93% 5%;
padding-left: 10px;
}

.barre:hover{
    cursor: pointer;
}
.zonage{
    padding-left: 10px;
    font-weight: bolder;
}
.mrgRg{
    margin-right: 30px;
}
.search-value{

    padding: 11px 13px;
    /* line-height: 10px;  */
    border-radius: 7px 7px 7px 7px;
    border: none;
    width: 95%;
    margin: auto 2px;

}
.space{
    width: 95%;
}

.separation{
    border-color: rgba(204, 204, 204, 0.486);
    border-width: 0.2px;
    margin: 0px 3px;

}

.propositions{
    width:700px;
    max-width: 96%;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    margin: 10px 8px;
    padding-left: 10px;
    -webkit-mask-image: linear-gradient(to right, rgb(255, 255, 255,0),rgba(255, 255, 255, 1) 2%, rgb(255, 255, 255,1) 98%, rgb(255, 255, 255,0));
    mask-image: linear-gradient(to right, rgb(255, 255, 255,0),rgba(255, 255, 255, 1) 2%, rgb(255, 255, 255,1) 98%, rgb(255, 255, 255,0));

}

.parametre-territoire{
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.arrow-btn{
    margin: 0px 5px;
}
.arrow-btn:hover{
    color: #0AAACB;
    cursor: pointer;
}
.right{
    float: right;
    margin: 10px 5px;
}

.return:{
    transform: rotate(180deg);
}
.decoupage-territoire{
    border-radius: 8px;
    background-color: rgb(214, 214, 214);
    width: fit-content;
    padding: 8px;
}

.name-stable-territoire:hover{
    font-style: italic; 
}

.form-name{
    display: flex;
    flex-direction: row;
    align-items: center ;
}
.name-edit-territoire{
    border: none;
    background-color: inherit;
    font-size: inherit;
    margin-top: 0px;
    padding: 0px;
    font-style: italic;
}

.save{
    margin: auto;
    padding: 0px;
}

.selection-territoires{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.section-titre{
    font-weight: bolder;
}


.nb-ter{
border-radius:25px;
background-color: #06646e;
color: white;
padding: 3px 6px;
}


.list-territoires{
    width: 400px;
    height: 300px;
    max-width: 50%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content:flex-start;
    overflow-y: auto;
}






.item-list{
    font-size: 0.8em;
    text-align: left;
    vertical-align: middle;
    padding: 9px 10px;
    margin: 5px;
    background-color: #0AAACB;
    color: white;
    border-radius: 7px;
    white-space: nowrap;
}
.search-go{
    padding: 10px 25px;
    font-size: 1.1em;
    background-color: #0AAACB;
    color: white;
    border-radius: 0px 7px 7px 0px;
    border: none;
    align-self: start;
}

.search-bar{
    display: flex;
    flex-direction: row;
}

.search-go:hover{
    background-color: #17c5e7;
    cursor: pointer;

}



.selected-list{
    max-width: 30%;
    height: 20px;
    margin: auto 2px;
    display: flex;
    
}

.selected-list-min{
    margin-top: auto;
    display: flex;
    flex-direction: row;
}



.drop-btn{
    margin-top: -7px;
    color: #0AAACB;
}
.drop-btn:hover{
    color:#06646e;
    cursor: pointer;
}


.drop-header{
    display: grid;
    grid-template-columns: 85% auto;
}
.drop-title{
    margin-top: 7px;
    font-size: 0.8em;
}

.aggregate{
    width: 20px;
    max-width: 20px;
}
.aggregate:hover{
    font-weight: bolder;
    cursor: pointer;
    background-color:#06646e;


}

.selected{
    white-space: nowrap;
    font-size: 0.8em;
    text-align: left;
    height: max-content;
    padding: 8px 10px;
    margin: 2px;
    background-color: #0abecb;
    color: white;
    border-radius: 7px;



}

.modal{
    max-height:200px;

}
.sel-modal{
    margin: 2px 0px;
    height: max-content;

}
.col-items{
    margin: 10px 2px;
    white-space:normal;
}
.column{
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap:wrap;
    max-height:160px;
    overflow-y: auto;
    overflow-x:hidden;
}

.close{
    transform: rotate(180deg);
}

.proposition:hover{
    background-color: #17c5e7;
    cursor: pointer;
}

.delete-territory{
    color:white;
    font-size:1.1em;
    padding-left:7px;
}

.delete-territory:hover{
    color:#06646e;
    cursor: pointer;
}
