/* ACCUEIL - paramètres spécifiques */
/* Importation des variables */
@import "../index.css";

.container-accueil {
  padding: 80px 15%;
  min-width: 400px;
  background-color: var(--main-bg-color);
}

.bouton-accueil {
  width: 300px;
  margin: 10px;
  padding: 15px 12px;
  border-radius: 8px;
  background-color: var(--main-tv-color);
  color: white;
  position: relative;
  top: 0;
  box-shadow: white;
  transition: top ease 0.2s, box-shadow ease 0.1s;
  text-align: center;
}

.bouton-accueil:hover {
  box-shadow: var(--main-shadow);
  top: -2px;
  cursor: pointer;
}

.lien-bouton {
  text-decoration: none;
  font-weight: bold;
}

.logo-boite {
  font-size: 3em;
  margin: 10px 30px;
  text-align: center;
}
.explication-boite {
  max-width: 500px;
  width: 85%;
  text-align: justify;
}
