/* GENERAL APP SETTINGS */
@import "../index.css";

/* APP PAGE SPECIFICS */
.app-container {
  margin: 0;
  max-width: 100%;
  position: relative;
  min-height: 100vh;
}
.content-app {
  /* padding-bottom: 6rem; */
}

/* GENERAL TV SETTINGS */
/* Background */
.bck-color {
  background-color: var(--main-bg-color);
}

.valid-color {
  background-color: var(--main-valid-color);
}

/* LIENS ET INTERACTIONS */
.linkCustom {
  text-decoration: none;
}

.hoverCustom:hover {
  color: var(--main-tv-color);
  cursor: pointer;
}
.hoverCustom-white:hover {
  background-color: white;
  color: var(--main-tv-color);
}
.hoverCustom-lighter:hover {
  color: white;
  background-color: var(--lighter-tv-color);
  cursor: pointer;
}

.cursor:hover {
  cursor: pointer;
}

.hoverItalic:hover {
  font-style: italic;
}

.hover-darker {
  color: white;
  font-size: 1.1em;
  padding-left: 7px;
}
.hover-darker:hover {
  color: #06646e;
  cursor: pointer;
}

/* TYPE DE SEPARATEUR */

.separation {
  border-color: var(--main-bg-color);
  border-width: 0.2px;
  margin: 0px 3px;
}

/* Positions */
.pos-abs {
  position: absolute;
  z-index: 10000;
  width: 95%;
}

.flt-r {
  margin: 10px 0px 0px 0px;
  float: right;
}

/* Flex positioning */
.flx-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.flx-bas-adapt {
  flex-basis: 24em;
  flex-grow: 0.8;
  flex-shrink: 6;
}

.flx-invert :nth-child(even) > .flx-row-gap-big {
  flex-direction: row-reverse;
}
.paragraph br {
  margin-bottom: 20px;
}
.flx-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flx-sb {
  justify-content: space-around;
}
.flx-v-center {
  align-items: center;
}

.flx-shrink {
  flex-shrink: 1;
}
.flx-grow {
  flex-grow: 2;
}

.flx-center {
  justify-content: center;
  align-items: center;
}

.flx-left {
  align-content: flex-start;
}
.flx-row-gap-big {
  row-gap: 40px;
}
.flx-gap-big {
  gap: 70px;
}

.flx-gap-small {
  gap: 15px;
  row-gap: 15px;
}

.flx-nowrap {
  flex-wrap: nowrap;
}

/* OVERFLOW */
.x-overflow {
  overflow-x: auto;
}
.y-overflow {
  overflow-y: auto;
}
.no-overflow {
  overflow-x: none;
}
.gradient-border {
  -webkit-mask-image: linear-gradient(
    to right,
    rgb(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 2%,
    rgb(255, 255, 255, 1) 98%,
    rgb(255, 255, 255, 0)
  );
  mask-image: linear-gradient(
    to right,
    rgb(255, 255, 255, 0),
    rgba(255, 255, 255, 1) 2%,
    rgb(255, 255, 255, 1) 98%,
    rgb(255, 255, 255, 0)
  );
}

.paragraph {
  line-height: 1.5em;
  text-align: justify;
}
/* BOX OPTIONS */
.box {
  box-shadow: var(--main-shadow);
  background-color: var(--main-box-color);
  border-radius: 7px;
  width: fit-content;
  height: fit-content;
}
.pdg-box {
  padding: 10px 5px;
}

/* INHERIT FORM */
.inherit-form {
  border-radius: inherit;
}

.inherit-all {
  border-radius: inherit;

  border: none;
  background-color: inherit;
  font-size: inherit;
  margin-top: 0px;
  padding: 0px;
}
/* Boutons */
.btn-tv-color {
  background-color: var(--main-tv-color);
  color: white;
  border-radius: 7px;
}
.btn-tv-sec-color {
  background-color: var(--sec-tv-color);
  color: white;
  border-radius: 7px;
}
.btn-big {
  padding: 18px 13px;
}

.btn-small {
  padding: 9px 10px;
  transition: height 2s ease;
}

.btn-tiny {
  padding: 3px 6px;
}

/* Filled box */
.btn-tv-bg-color {
  background-color: var(--main-bg-color);
  /* color: white; */
  border-radius: 7px;
}

/* Transitions */
.tr-width {
  transition: width ease 0.2s;
}
.css-adeloa-MuiSlider-root {
  color: var(--main-tv-color) !important;
  font-family: var(--main-font-fam);
}
/* WIDTH */
.width-ctt {
  width: fit-content;
}
.width-100 {
  /* width: 100%; */
  max-width: 96%;
}

.max-95 {
  max-width: 85%;
}
.max-500 {
  max-width: 500px;
}

.width-70p {
  width: 90px;
}

.w-400p {
  max-width: 350px;
}
.min-300 {
  min-width: 300px;
}

/* HEIGHT */
.max-h-200p {
  height: fit-content;
  max-height: 200px;
}

.max-h-350p {
  height: fit-content;
  max-height: 350px;
}
.h-400p {
  height: 375px;
  max-height: 375px;
}
.h-200p {
  height: 200px;
}
.min-h-450p {
  min-height: 450px;
}
/* PADDINGS */
.pd-l-10 {
  padding-left: 10px;
}

/* MARGINS */
.mrg-0 {
  margin: 0px;
}
.mrg-2 {
  margin: 2px;
}
.mrg-10 {
  margin: 10px;
}
.mrg-5pc {
  margin: 10px 10%;
}

.mrg-20 {
  margin: 20px;
}
.mrg-t-20 {
  margin-top: 20px;
}
.mrg-t-40 {
  margin-top: 40px;
}
.mrg-tb-20 {
  margin: 20px 0px;
}
.mrg-b-20 {
  margin-bottom: 20px;
}
.mrg-l-10 {
  margin-left: 10px;
}
.mrg-l-30 {
  margin-left: 30px;
}
.mrg-r-10 {
  margin-right: 10px;
}
/* PADDING */
.pdg-20 {
  padding: 10px 20px;
}
/* TEXT OPTIONS*/
.ft-tv {
  font-family: var(--main-font-fam);
}
.bolder {
  font-weight: bolder;
}
.italic {
  font-style: italic;
}
.emphase {
  /* For text emphasis */
  font-weight: bolder;
  color: var(--main-tv-color);
}

.no-wrap {
  white-space: nowrap;
}
.ft-0-8 {
  font-size: 0.8em;
}

.ft-1 {
  font-size: 1em;
}

.ft-1-2 {
  font-size: 1.2em;
}

.ft-1-6 {
  font-size: 1.6em;
}

.ft-2 {
  font-size: 2em;
}

.ft-2-5 {
  font-size: 2.5em;
}
