.search-zone{
    margin: 70px auto;
    width:700px;
    max-width: 95%;
    
}

.search-form{
    text-align: center;
    box-shadow: 3px 3px 7px rgba(168, 168, 168, 0.801);
    border-radius: 7px;
}

.search-go{
    padding: 10px 25px;
    font-size: 1.1em;
    background-color: #0AAACB;
    color: white;
    border-radius: 0px 7px 7px 0px;
    border: none;
    align-self: start;
}

.search-bar{
    display: flex;
    flex-direction: row;
}

.search-go:hover{
    background-color: #17c5e7;
    cursor: pointer;

}

.search-value{
    padding: 11px 13px;
    line-height: 10px;
    border-radius: 7px 7px 7px 7px;
    border: none;
    /* box-shadow: 3px 3px 7px rgba(168, 168, 168, 0.801); */
    width: 100%;
    margin: 0 2px;

}

.propositions{
    width:700px;
    max-width: 95%;
    position: absolute;
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    margin-top:10px;
    padding-left: 10px;
}

.item-list{
    font-size: 0.8em;
    text-align: left;
    vertical-align: middle;
    padding: 9px 10px;
    margin: 0px 5px;
    background-color: #0AAACB;
    color: white;
    border-radius: 7px;
    white-space: nowrap;
}

.selected-list{
    max-width: 30%;
    height: 20px;
    margin: auto 2px;
    display: flex;
    
}

.selected-list-min{
    margin-top: auto;
    display: flex;
    flex-direction: row;
}



.drop-btn{
    margin-top: -7px;
    color: #0AAACB;
}
.drop-btn:hover{
    color:#06646e;
    cursor: pointer;
}


.drop-header{
    display: grid;
    grid-template-columns: 85% auto;
}
.drop-title{
    margin-top: 7px;
    font-size: 0.8em;
}

.aggregate{
    width: 20px;
    max-width: 20px;
}
.aggregate:hover{
    font-weight: bolder;
    cursor: pointer;
    background-color:#06646e;


}
/* .selected{
    white-space: nowrap;
    font-size: 0.8em;
    text-align: left;
    padding: 9px 10px;
    margin: 0px 2px;
    background-color: #0AAACB;
    color: white;
    border-radius: 7px;
} */
.selected{
    white-space: nowrap;
    font-size: 0.8em;
    text-align: left;
    height: max-content;
    padding: 8px 10px;
    margin: -6px 2px 0px 2px;
    background-color: #0AAACB;
    color: white;
    border-radius: 7px;
    

}

.modal{
    max-height:200px;

}
.sel-modal{
    margin: 2px 0px;
    height: max-content;

}
.col-items{
    margin: 10px 2px;
    white-space:normal;
}
.column{
    display: flex;
    align-items: flex-start;
    flex-grow: 0;
    flex-direction: row;
    flex-wrap:wrap;
    max-height:160px;
    overflow-y: auto;
    overflow-x:hidden;
}

.close{
    transform: rotate(180deg);
}

.proposition:hover{
    background-color: #17c5e7;
    cursor: pointer;
}

.delete-territory{
    color:white;
    font-size:1.1em;
    padding-left:7px;
}

.delete-territory:hover{
    color:#06646e;
    cursor: pointer;
}
