.header-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px auto;
    width: 80%;
}


.titre{
    grid-column: 1 / 3;
}
.logo-nom{
    margin-right: 10px;
}
.nom-site{
    color: #0AAACB;
    font-weight: bold;
    white-space: nowrap;
}

.link-nom{
    text-decoration: none;
}

.nom-site:hover{
    color: #17c5e7;
    cursor: pointer;

}

.slogan-site{
    font-weight: thin;
    font-size: 1.2em;
    margin-top: 0px;
}

.navig-container{
    display: flex;
    justify-content: center;
    list-style: none;
}

.navig-pages{
    white-space: nowrap;
    margin-left: 25px;
    color: #000000;
    text-decoration: none;
    

}

.navig-pages:hover{
    color: #17c5e7;
    text-decoration: none;
}




.link-current{
    color: #17c5e7;
    text-decoration: none;

}