.container-name{
    height: 20px;   
}

.name-solid{
    font-size: 1.1em;
    font-weight: bolder;
    padding: 5px 10px;
    margin:0px;
    display:inline-block;
    min-width: 300px;
}

.name-solid:hover{
    font-size: 1.1em;
    margin:0px;
    padding: 5px 10px;

    border-radius: 3px;
    border:grey solid 1px;
    font-style: italic;
}

.name-edit{
    font-size: 1.1em;

    padding: 5px 10px;
    margin:0px;

    border-radius: 3px;
    border:grey solid 1px;
    font-style: italic;
}

.check{
    margin-left: 5px;
}
.check:hover{
    color: #0AAACB;
}

.sep-line{
    margin-top: 20px;
    border:rgba(223, 223, 223, 0.76) solid 0.5px;


}