/* PARAMETRES NOM DU TABLEU */

@import "../../index.css";

.container-name {
  height: 20px;
}
.logo-link {
  width: 35px;
  max-width: 35px;
}
.logo-min {
  margin-right: 10px;
  transition: filter ease 0.2s, width ease 0.1s;
}
.logo-min:hover {
  width: 2.1em;
  filter: drop-shadow(var(--main-shadow));
}

.name-solid {
  /* titre du tableau en mode figé */
  height: 30px;
  font-size: 1.1em;
  font-weight: bolder;
  padding: 0px 10px;
  margin: 0px;
  display: inline-block;
  min-width: 300px;
  line-height: 30px;
}

.name-solid:hover {
  /* titre du tableau quand souris au dessu */
  font-size: 1.1em;
  height: 30px;

  margin: 0px;
  padding: 0px 10px;

  border-radius: 3px;
  border: grey solid 1px;
  font-style: italic;
}

.name-edit {
  /* titre du tableau en mode edition */
  height: 30px;
  font-size: 1.1em;

  padding: 0px 10px;
  margin: 0px;

  border-radius: 3px;
  border: grey solid 1px;
  font-style: italic;
}

.sep-line {
  /* ligne de séparation */
  margin-top: 20px;
  border: var(--border-sep);
}

.top-log {
  /* emplacement de l'icone de connexion */
  float: right;
  position: relative;
  margin-top: -20px;
}
