.legend-container{
    margin: 40px 10%;
}

.legend-title{
    font-size: 1.1em;
}

.info-focus{
    color:#0AAACB;
}

.info-variable{
    font-style: italic;
}

.question-variable{
    font-size:0.8em;
    padding-bottom: 3px;
}