@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

body {
  margin: 0;
  font-size: 17px;
  font-family: "Urbanist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  font-family: "Urbanist", sans-serif;
}

:root {
  --main-tv-color: #0aaacb;
  --lighter-tv-color: #17c5e7;
  --sec-tv-color: #12ae46c9;
  --main-bg-color: #f5f5f5;
  --main-box-color: white;
  --main-shadow: 3px 3px 7px rgba(168, 168, 168, 0.801);
  --border-sep: rgba(223, 223, 223, 0.76) solid 0.5px;
  --main-valid-color: rgb(72, 187, 130);
  --main-font-fam: "Urbanist", sans-serif;
}
